/*1er article*/
.actu{
    color: $titleArticle;
    width: 100%;
    background-color: $article1;
    .articleHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
        }
    }
    .imgArticle{
        padding: 5px;
        width: 400px;
    }
    .content{
        padding: 10px;
    }
}