.text{
    padding: 1%;
    h2{
        text-align: center;
        font-weight: bold;
    }
    .comprendre{
        background-color: $comprendre;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        h3{
            text-align: center;
            color: white;
        }
    }
    .plus{
        display: flex;
        justify-content: flex-end;
    }
    .subscribe{
        background-color: $subscribe;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        font-weight: 500;
        line-height: 2.2em;
        text-decoration: none;
        color: $subscribebtn;
        //width: 100px;
    }
}