body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'GothamHTF';
}
.header{
    height: 50px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    img{
        width: 60%;
    }
    a{
        display: flex;
        justify-content: flex-end;
        width: 30%;
        img{
            width: 50px;
        }
    }
}
.mainBG{
    img{
        width: 100%;
    }
}