.icoSlogan{
    display: flex;
    justify-content: center;
    .Icon{
        width: 5em;
        height: 5em;
    }
}
.slogan{
    display: flex;
    flex-direction: column;
    h1{
        color: $title;
        text-align: center;
        p{
            font-size: 20px;
        }
    }
}
.stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    img{
        width: 100%;
    }
    p{
        text-align: center;
    }
    .coop{
        width: 170px;
        font-size: 20px;
        color: $icoCoop;
    }
    .photovoltaique{
        width: 170px;
        font-size: 20px;
        color: $icoPhotovoltaique;
    }
    .lightning{
        width: 170px;
        font-size: 20px;
        color: $icoLightning;
    }
    .vente{
        width: 170px;
        font-size: 20px;
        color: $icoVente;

    }
}