/*VARIABLES*/
$icoCoop : #c3a575;
$icoPhotovoltaique : #ddeaac;
$icoLightning : #fcb731;
$icoVente : #00afec;
$title : orange;
$comprendre : #6d6f71;
$subscribe : orange;
$subscribebtn : black;
$article1 :orange;
$article2 : #b3d143;
$article3 : #e8ddca;
$titleArticle : white;
$understand : white;
$txtFooter : rgb(255, 255, 255);
$footerBG : rgb(109, 111, 113);
$menuTxtColor : white;
$menuBG : rgb(179, 209, 67);